{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Где купить? | Ёлка добра</title>
    <meta name="viewport">


    <link href="{% static 'letters/css/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'letters/css/hints-swiper.css' %}" rel="stylesheet">
    <link href="{% static 'letters/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'letters/css/header.css' %}" rel="stylesheet">
    <link href="{% static 'letters/css/footer.css' %}" rel="stylesheet">
    <link href="{% static 'usertools/css/recommend.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="icon" href="{% static 'letters/images/christmasTree.png' %}">
    <link href="{% static 'letters/css/medias.css' %}" rel="stylesheet">
</head>
<body style="background-image: url('{% static 'letters/images/sitebg.jpg' %}')">

<div style="
background: url({% static 'letters/images/santa.gif' %});
background-size: var(--santa-width);
" id="santa"></div>

<div class="page">
    {% include 'components/user_header.html' %}
    <div class="load-container">
        <div id="loading-result"></div>
    </div>
    <div id="shops" style="display: none"></div>
    <div id="goods" style="display: none"></div>
</div>
{% include 'components/footer.html' %}

<script>
let shopsElement = document.getElementById('shops')
let goodsElement = document.getElementById('goods')

async function getShopsAndGoods () {
  let response = await fetch(`${url}/usertools/get_recommend_goods/{{ gift.pk }}/`)
  let data = await response.json()

  for (let shop of data.shops) {
    shopsElement.insertAdjacentHTML(
      'afterbegin',
      `
      <div class="shop">
          <p class="shop-item">${shop.name}</p>
          <p class="shop-item">${shop.address}</p>
      </div>
      `
    )
  }
  // maybe change display
  document.querySelector('div.load-container').style.display = 'none'
  shopsElement.style.display = 'grid'

  for (let product of data.goods) {
    goodsElement.insertAdjacentHTML(
      'afterbegin',
      `
      <div class="product-container">
          <a href="${product.link}">
              <img class="product-item product-img" src="${product.img}">
              <p class="product-item">${product.name}</p>
              <p class="product-item">${product.sub_text}</p>
          </a>
      </div>
      `
    )
  }
  // maybe change display
  goodsElement.style.display = 'grid'
}

getShopsAndGoods()
</script>
</body>
</html>