{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр письма | Ёлка Добра</title>
    <meta name="viewport">

    <link href="{% static 'letters/css/header.css' %}" rel="stylesheet">
    <link href="{% static 'letters/css/footer.css' %}" rel="stylesheet">
    <link href="{% static 'letters/css/letters.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="icon" href="{% static 'letters/images/christmasTree.png' %}">
    <link href="{% static 'letters/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'usertools/css/admin-page.css' %}" rel="stylesheet">
    <link href="{% static 'letters/css/medias.css' %}" rel="stylesheet">
    <link href="{% static 'letters/css/letter-detail.css' %}" rel="stylesheet">
</head>

<body>

    <div class="page">
        {% include 'components/admin_header.html' %}
        <p id="successGiftChange" class="popup-message" style="display: none"></p>

        <div class="high-line high-element">
            <div class="back-arrow-on-page-container" onclick="window.history.back()">
                <img class="back-arrow-on-page" src="{% static 'letters/images/back-arrow.png' %}">
            </div>
        </div>

        <div class="letters high-element letters-mt">
            <div class="letter-container">
                {% if letter.gift.status == 'unselect' %}
                <div class="letter orange-card">
                {% elif letter.gift.status == 'selected' %}
                <div class="letter blue-card">
                {% else %}
                <div class="letter green-card">
                {% endif %}
                    <img class="letter-el" src="{{ letter.photo.url }}">
                    <p class="letter-el">Автор: {{ letter.child.get_full_name }}</p>
                    <p class="letter-el">Подарок: {{ letter.gift.name }}</p>
                    <div class="custom-select letter-el">
                        <select data-objectid="{{ letter.gift.pk }}" name="status-select" style="margin-top: 7px">
                            <option value="0"
                            {% if letter.gift.status == 'unselect' %}selected{% endif %}
                            >Не выбранно</option>
                            <option value="2"
                            {% if letter.gift.status == 'delivered' %}selected{% endif %}
                            >Доставленно</option>
                            <option value="1"
                            {% if letter.gift.status == 'selected' %}selected{% endif %}
                            >Выбрано</option>
                        </select>
                    </div>
                    <a
                        class="letter-el"
                        href="{% url 'usertools:recommend_goods' gift_pk=letter.gift.pk %}"
                    >
                        <button class="inner-button default-button">Подобрать подарок</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% include 'components/footer.html' %}

<script src="{% static 'letters/js/burgerMenu.js' %}"></script>
<script src="{% static 'letters/js/script.js' %}"></script>
<script src="{% static 'usertools/js/changeGiftState.js' %}"></script>

</body>
</html>