.hints-swiper {
    min-width: 0;
    height: 100%;
    width: calc(100% - 2em - 4em);
}

.swiper-wrapper {
    align-items: center;
}

.hint-key {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2em;
    height: 40%;
    border: black 1px solid;
    border-radius: 1em;
    background-color: white;
    width: calc((100% - 30px) / 3);
}
