.high-element {
    margin-top: 1em;
}

.high-line {
    width: 95%;
}

.back-arrow-on-page-container {
    cursor: pointer;
    background-color: white;
    height: 2em;
    width: 2em;
    border: white 1px solid;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-arrow-on-page {
    height: 100%;
    width: 100%;
}