@media screen and (min-height: 1500px) {
    .icon {
        width: 1.75em;
        height: 1.75em;
    }
    * {
        font-size: 40px;
    }
    .letters {
        grid-template-columns: 100%;
        grid-auto-rows: 75vh;
    }
    .letter img {
        height: 80%;
    }
    /* where-buy adaptation */
    #goods {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        grid-auto-rows: 450px;
        width: 100%;
    }
    .product-img {
        width: 100%;
        height: 50%;
    }
    #shops {
        grid-template-columns: 850px;
    }
    /* end where-buy adaptation */

    /* search */
    .search-container {
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        grid-template-columns: 15% 85%;
        grid-template-rows: 7% 93%;
    }
    .search-container input {
        font-size: 45px;
        height: calc(100% - 4px);
    }
    .search-results {
        grid-column: 1/3;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .search-result {
        height: 100px;
    }
    .search-result a {
        width: calc(100% - 30px);
        padding-left: 30px;
    }
    .search-result * {
        font-size: 45px;
    }
    .back-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* end search */

    /* ordering */
    .choices {
        grid-template-columns: repeat(2, 34vw);
        grid-auto-rows: 60px;
        grid-gap: 20px;
        margin-left: 10px;
    }
    /* end ordering */
    .burger-menu-item {
        height: 120px;
    }
    .help-text {
        height: 110px;
    }

    form {
        width: 15em;
    }

    /* bg image */
    body {
        background-size: 4000px;
    }

    /* admin_users */
    .users {
        grid-template-columns: 100%;
        grid-auto-rows: 9em;
    }

    .user-container {
        grid-template-columns: 90% 10%;
    }
    /* end admin_users */

    /* together */
    .together-img {
        width: 6em;
        height: 4.5em;
    }
    /* end together */

    /* favorites */
    .favorites-block {
        width: 95%;
        grid-template-columns: 100%;
        grid-gap: 1em;
    }
    /* end favorites */

    /* helper */
    .info-message {
        width: 16em;
    }
    /* end helper */
}

@media screen and (min-height: 1300px) and (max-height: 1499px){
    * {
        font-size: 25px;
    }

    .letters {
        grid-template-columns: 50% 50%;
        grid-auto-rows: 65vh;
    }
    .letter img {
        height: 75%;
    }

    /* where-buy adaptation */
    #goods {
        grid-template-columns: repeat(3, 30%);
        grid-row-gap: 35px;
        grid-column-gap: 50px;
        grid-auto-rows: 350px;
    }
    .product-img {
        height: 60%;
    }
    /* end where-buy adaptation */

    /* search block adaptation */
    .search-container {
        right: 20vw;
        width: 550px;
    }
    .search-result {
        padding: 15px 15px 0 10px;
    }
    #burger-menu {
        width: 40vw;
    }
    /* end search block adaptation */

    /* ordering */
    .choices {
        grid-template-columns: repeat(2, 34vw);
        grid-auto-rows: 50px;
        grid-gap: 15px;
    }

    /* end ordering */

    /* login / register form */
    form {
        width: 15em;
        height: 12em;
    }
    /* end form */

    /* bg image */
    body {
        background-size: 2500px;
    }

    /* admin_users */
    .users {
        grid-template-columns: 50% 50%;
        grid-auto-rows: 9em;
    }

    .user-container {
        grid-template-columns: 90% 10%;
    }
    /* end admin_users */

    /* helper */
    .info-message {
        width: 18em;
    }
    /* end helper */
}

@media screen and (max-height: 800px) and (max-height: 1299px) {
    .default-button {
        padding: 4px 8px;
    }
}

@media screen and (min-height: 1300px) {
    .login-form-up {
        width: 500px;
    }
    #burger-block {
        display: block;
    }
    .burger-hidden {
        display: none;
    }
    /* header */
    header {
        height: 4.5em;
    }
    .logo-block a {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .logo {
        width: 100%;
        height: 70%;
    }
    nav {
        margin-right: 30px;
    }
    /* end header */
    #loading-result {
        width: 100px;
        height: 100px;
    }
    .form-title {
        font-size: 45px;
    }

    /* favorites */
    .favorites {
        grid-template-columns: 100%;
        grid-auto-rows: 10em;
    }

    .default-checkbox input[type="checkbox"] + label {
        padding-left: 2em;
    }
    /* end favorites */

    /* helper */
    .hint-key {
        height: 60%;
    }
    /* end helper */
}
