p {
	margin: 0;
}

header p {
	margin: 20px 20px 20px 20px;
}

#loading-result {
	width: 40px;
	height: 40px;
	border: 5px solid rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	border-top-color: black;
	animation: spin 1s linear infinite;
}
@Keyframes spin {
	100%{
		transform: rotate(360deg);
	}
}

.load-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
}

#empty-result {
	text-align: center;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#goods {
	padding: 15px 0;
	width: 95%;
	height: 95%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(5, 19%);
	grid-column-gap: 15px;
	grid-row-gap: 30px;
	grid-auto-rows: 300px;
	justify-items: center;
}

.product-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.product-item {
	width: 100%;
}

.product-img {
	align-self: flex-start;
	height: 80%;
}

.full-container {
	margin-top: 30px;
	width: 100%;
	background-color: #4ac1f7;
	display: none;
}

#shops {
	justify-items: start;
	grid-template-columns: 700px;
	grid-row-gap: 30px;
	padding: 15px 0;
	margin-right: auto;
	margin-left: auto;
	width: 95%;
	display: grid;
	/*grid-template-columns: 30% 30% 30%;*/
	grid-column-gap: 20px;
	/*justify-items: center;*/
}

.shop {
	border: black 1px solid;
	border-radius: 15px;
	width: 100%;
	background-color: #0ed5d5;
}

.shop-item {
	margin-left: 20px;
	padding-bottom: 10px;
	margin-top: 20px;
}

.where-buy-title {
	text-align: center;
}